
.header_section.fixed-top {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

/* Add a background color to the navbar when it is collapsed */
.header_section.fixed-top.navbar-collapsed {
  background-color: #ffffff; /* Adjust the background color as needed */
}

.header_section {
    padding: 15px 0;
  }
  
  .header_section .container-fluid {
    padding-right: 25px;
    padding-left: 25px;
  }
  
  .navbar-brand span {
    font-weight: bold;
    font-size: 30px;
    color: #9c00f0;
  }
  
  .custom_nav-container {
    padding: 0;
  }
  
  .custom_nav-container .navbar-nav {
    margin-left: auto;
  }
  
  .custom_nav-container .navbar-nav .nav-item .nav-link {
    padding: 5px 20px;
    color: #d8c9da;
    text-align: center;
    text-transform: uppercase;
    border-radius: 5px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  
  .custom_nav-container .navbar-nav .nav-item:hover .nav-link, .custom_nav-container .navbar-nav .nav-item.active .nav-link {
    color: #9c00f0;
  }
  
  .custom_nav-container .navbar-nav .nav-item.active .nav-link {
    font-weight: 600;
  }
  
  .custom_nav-container .nav_search-btn {
    width: 35px;
    height: 35px;
    padding: 0;
    border: none;
    color: #0e0202;
  }
  
  .custom_nav-container .nav_search-btn:hover {
    color: #9c00f0;
  }
  
  .custom_nav-container .navbar-toggler {
    outline: none;
  }
  
  .custom_nav-container .navbar-toggler {
    padding: 0;
    width: 37px;
    height: 42px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  
  .custom_nav-container .navbar-toggler span {
    display: block;
    width: 35px;
    height: 4px;
    background-color: #130303;
    margin: 7px 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    position: relative;
    border-radius: 5px;
    transition: all 0.3s;
  }
  
  .custom_nav-container .navbar-toggler span::before, .custom_nav-container .navbar-toggler span::after {
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #2a0303;
    top: -10px;
    border-radius: 5px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  
  .custom_nav-container .navbar-toggler span::after {
    top: 10px;
  }
  
  .custom_nav-container .navbar-toggler[aria-expanded="true"] {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  
  .custom_nav-container .navbar-toggler[aria-expanded="true"] span {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  
  .custom_nav-container .navbar-toggler[aria-expanded="true"] span::before, .custom_nav-container .navbar-toggler[aria-expanded="true"] span::after {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    top: 0;
  }
